[submodule "Desktop/curso full stack enyoi - copia (4)/LoginRegister"]
	path = Desktop/curso full stack enyoi - copia (4)/LoginRegister
	url = https://github.com/emmanuelbg2004/LoginRegister.git
[submodule "Desktop/curso full stack enyoi - copia (4)/back-end-full-stack"]
	path = Desktop/curso full stack enyoi - copia (4)/back-end-full-stack
	url = https://github.com/emmanuelbg2004/back-end-full-stack.git
